<div class="margin-container">
  <div class="container">
    <% if notice %>
        <p id="notice" class="alert alert-success"><%= notice %></p>
    <% end %>
      <div class="well">
        
        <h1>Accommodations</h1>
        
        <table class="table" style="text-align: center;">
          <thead>
            <tr>
              <th style="width: 10%;">Name</th>
              <th style="width: 5%; text-align: center;">Type</th>
              <th style="width: 9%; text-align: left;">Rating</th>
              <th style="width: 22%; text-align: center;">Address</th>
              <th style="width: 9%; text-align: center;">City / State</th>
              <th style="width: 9%; text-align: center;">Country</th>
              <th style="width: 40%; text-align: center;">About</th>
              <th colspan="1"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @accommodations.each do |accommodation| %>
              <tr>
                <td style="text-align: left;"><%= accommodation.title %></td>
                <td><%= accommodation.accom_type %></td>
                <td style="text-align: left;">
                <% case accommodation.rating %>
                <% when 5 %>
                &#9733; &#9733; &#9733; &#9733; &#9733;
                <% when 4 %>
                &#9733; &#9733; &#9733; &#9733;
                <% when 3 %>
                &#9733; &#9733; &#9733;
                <% when 2 %>
                &#9733; &#9733;
                <% when 1 %>
                &#9733;
                <% else %>
                None
                <% end %>
                </td>
                <td><%= accommodation.address %></td>
                <td><%= accommodation.place.name %></td>
                <td><%= accommodation.place.country.name %></td>
                <td><%= accommodation.description %></td>
                <td style="text-align: right;">
                  <%= link_to 'Edit', edit_accommodation_path(accommodation), :class => 'btn btn-default', :style => "width: 100%; margin-bottom: 3px;" %>
                  <%= link_to 'Delete', accommodation, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger', :style => "color: white; width: 100%;" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        
        <br>
        
        <%= link_to 'Add an accommodation', new_accommodation_path, :class => 'btn btn-primary' %><br><br>
        <%= link_to 'Back', users_admin_path, :class => 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>
