<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :persons, 'For how many persons?' %><br>
    <%= f.number_field(:persons, :class => 'form-control', min: 1, max: @reservation.offer.spots - @reservations.sum(:persons), value: 0) %>
  </div>
  <div class="form-group">
    <%= f.hidden_field :offer_id %>
  </div>
  <div class="actions">
    <%= f.submit "Send", :class => "btn btn-primary" %>
  </div>
<% end %>
